.mainTop{
    height: 60px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0px 10px 0 #ccc;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    .logo{
        float: left;
        width: 200px;
        height: 60px;
        background: #188bf7;
        // background: rgb(21, 32, 46) url("../../images/logo.png") no-repeat;
        background-size: 200px 60px;
    }
}