.m-content{
    position: fixed;
    top: -20px;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 10px 20px;
    border-radius: 5px;
    transition: all 1s ease 0s;
    z-index: 999;
    background-color: #fff;
    box-shadow: 0px 5px 13px -6px #999;
    border: 1px solid #eee;
}
.m-hide{
    display: none;
    top: 0px;
}

.m-show{
    display: block;
    top: 18px;
}



.error{
    color: red;
}

.waring{
    color: #ff7300;
}

.success{
    color: #009c11;
}

.normal{
    color: #666;
}